<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "tw.avianjay.rnun"
    versionCode = "20302"
    version     = "2.0" >

<!-- versionCode is optional and Android only -->

  <name>選號器</name>

  <description>
      AvianJay
  </description>

  <author href="https://avianjayweb.ml" email="avianjayusb@gmail.com">
      AvianJay
  </author>
  
  <icon src="appicon.png" />

</widget>
